@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=DM+Serif+Display&display=swap');

$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'DM Serif Display', serif;
$font-md: 73px;
$font-sm: 32px;
$primary-color: #0d3b66;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  font-weight: 400;
}
.font-h1 {
  font-size: $font-md;
  line-height: 1;
  margin: 0;
  @media (max-width: 768px) {
    font-size: $font-sm;
  }
}

a {
  color: $primary-color;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
.logo {
  font-family: $secondary-font;
  font-size: 32px;
}
// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }

.background-spiral {
  position: absolute;
  z-index: -1;
}
.arrow {
  font-size: 30px;
}

.link-with-arrow {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: $primary-color;
  .link {
    padding-right: 10px;
  }
}

.arrow-btn {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
